{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Crear Usuario {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

</head>
{% include "base.html" %}
{% block content %}
<body>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-offset-12">
            <h1 class='text-center' style="margin-top:30px;">Agregar Usuario</h1>

            <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <h1>{{ resultado }}</h1>
                <div class="form-group">
                    <label for="first_name">Nombre:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="" placeholder="Ingrese su nombre" required>
                </div>

                <div class="form-group">
                    <label for="last_name">Apellido:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="" placeholder="Ingrese su apellido" required>
                </div>
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="username" name="username" value="" placeholder="Ingrese su nombre de usuario" required>
                </div>
                 <div class="form-group">
                    <label for="password1">Contraseña:</label>
                    <input type="password" class="form-control" name="password1" id="InputPassword1" placeholder="Introduce tu contraseña" value="" required>
                </div>
                <div class="form-group">
                    <label for="password2">Contraseña:</label>
                    <input type="password" class="form-control" name="password2" id="InputPassword1" placeholder="Vuelve a introducir tu contraseña" value="" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" name="email" value="" placeholder="Ingrese su correo electronico" required>
                </div>
                <div>
                    <label for="type_user">Tipo de usuario:</label>
                   <select class="form-control" id="Select" name="type_user">
                        <option value="ADM" selected>Administrador</option>
                        <option value="DIG">Digitador</option>
                        <option value="VIS">Visualizador</option>
                    </select>
                </div>



                <div>

                </div>
                <div class="col-md-12">
                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Enviar
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Encuesta para analisis GAP</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Si ha creado a todos los usuarios, seleccione "Enviar", de lo contrario presione
                                    "Volver"
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'createstaff' %}">
                                        <button type="button" class="btn btn-secondary">Volver</button>
                                    </a>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>

    </div>
</div>
</body>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
