{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
{% block navbar %}
{% endblock %}
{% include "base.html" %}
{% block content %}
    <html>
    <head>
        <title>{% block title %} Propiedades {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'propiedades.css' %}">
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    </head>
    <body style="background-color:#FFFFFF  ">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <h1>Información Propiedad</h1>
                    </div>
                    {% if staff.type_user == 'DIG' or staff.type_user == 'ADM' %}
                        <div class="col-md-2">
                            <a href="{% url 'edit_rent' rent.pk %}">
                                <button type="button" class="btn btn-info btn-block" style="margin-top:10px">Editar</button>
                            </a>
                        </div>
                    {% endif%}
                    <div class="col-lg-12">
                        <div class="card border-white">
                            <div class="row">
                                <div class="col-md-4">
                                    {% if rent.image %}
                                        <img src="/media/{{ rent.image }}" class="card-img" width="100%" height="100%">
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <p id="total"><strong>Nombre</strong>: {{ rent.name }}</p>
                                        {% if rent.role_number %}
                                            <p id="total">Número de Rol: {{ rent.role_number }}</p>
                                        {% else %}
                                            <p id="total">Número de Rol: No Registrado</p>
                                        {% endif %}
                                        <p id="total">Dirección: {{ rent.location }}</p>
                                        <p id="total">Uso Propiedad: {{ rent.property_use }}</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    {% if rent.image %}
                                        <img src="/media/{{ rent.image }}" class="card-img" width="100%" height="100%">
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="accordion" id="informacion">
                            <div class="card border-dark">
                                <div class="card-header" id="contables">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-secondary btn-lg btn-block" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Contables Internos
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="contables">
                                    <div class="card-body">
                                        {% if rent.acquiring_name %}
                                            <p id="total">Nombre arrendatario : {{ rent.acquiring_name }}</p>
                                        {% else %}
                                            <p id="total">Nombre arrendatario: No Registrado</p>
                                        {% endif %}
                                        {% if rent.supplier_name %}
                                            <p id="total">Nombre arrendador: {{ rent.supplier_name }}</p>
                                        {% else %}
                                            <p id="total">Nombre arrendador: No Registrado</p>
                                        {% endif %}
                                        {% if rent.contract_type %}
                                            <p>
                                            <a href="{% url 'view_archive' rent.contract_type.type rent.contract_type.pk %}"
                                           style="color:blue">Tipo de
                                            contrato: {{ rent.contract_type.archive }}</a></p>
                                            </p>
                                        {% else %}
                                            <p id="total">Tipo de contrato: No Registrado</p>
                                        {% endif %}
                                        {% if rent.value_land %}
                                            <p id="total">Valor Contabilizado Terreno: {{ rent.value_land }}</p>
                                        {% else %}
                                            <p id="total">Valor Contabilizado Terreno: No Registrado</p>
                                        {% endif %}
                                        {% if rent.value_contruction %}
                                            <p id="total">Valor Contabilizado
                                                Construcción: {{ rent.value_contruction }}</p>
                                        {% else %}
                                            <p id="total">Valor Contabilizado Construcción: No Registrado</p>
                                        {% endif %}
                                        {% if rent.start_date %}
                                            <p id="total">Comienzo Arriendo o Comodato: {{ rent.start_date }}</p>
                                        {% else %}
                                            <p id="total">Comienzo Arriendo o Comodato: No Registrado</p>
                                        {% endif %}
                                        {% if rent.end_date %}
                                            <p id="total">Termino Arriendo o Comodato: {{ rent.end_date }}</p>
                                        {% else %}
                                            <p id="total">Termino Arriendo o Comodato: No Registrado</p>
                                        {% endif %}
                                        {% if rent.duration %}
                                            <p id="total">Duración Arriendo o Comodato: {{ rent.duration }}</p>
                                        {% else %}
                                            <p id="total">Duración Arriendo o Comodato: No Registrado</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="info">
                            <div class="card border-dark">
                                <div class="card-header" id="antecedentes">
                                    <h2 class="mb-0">
                                        <button class="btn btn-outline-secondary btn-lg btn-block" type="button"
                                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                                aria-controls="collapseThree">
                                            Antecedentes Arquitectonicos
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="antecedentes">
                                    <div class="card-body">
                                        {% if rent.ground_surface %}
                                            <p id="total">Superficie de Terreno: {{ rent.ground_surface }}</p>
                                        {% else %}
                                            <p id="total">Superficie de Terreno: No Registrado</p>
                                        {% endif %}
                                        {% if rent.square_m_build %}
                                            <p id="total">Metros Cuadrados Construidos: {{ rent.square_m_build }}</p>
                                        {% else %}
                                            <p id="total">Metros Cuadrados Construidos: No Registrado</p>
                                        {% endif %}
                                        {% if rent.e_construction_m %}
                                            <p id="total">Metros Construcción Existente: {{ rent.e_construction_m }}</p>
                                        {% else %}
                                            <p id="total">Metros COnstrucción Existente: No Registrado</p>
                                        {% endif %}
                                        {% if rent.municipal_n %}
                                            <p id="total">Número de recepción municipal: {{ rent.municipal_n }}</p>
                                        {% else %}
                                            <p id="total">Número de recepción municipal: No Registrado</p>
                                        {% endif %}
                                        {% if rent.n_building_permit %}
                                            <p id="total">Número de permiso de
                                                edificación: {{ rent.n_building_permit }}</p>
                                        {% else %}
                                            <p id="total">Número de permiso de edificación: No Registrado</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
