{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
{% block navbar %}
{% endblock %}
{% include "base.html" %}
{% block content %}
<html>
<head>
  <title>{% block title %} Propiedades {% endblock %}</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'propiedades.css'%}">
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
</head>
<body style="background-color:#FFFFFF  ">
<div class="container">
    <br>
        <row>
            <div id="cuerpo">
                    <div id="izquierda">
                        <img src="/media/{{acquisition.image}}" alt="" width="100%" height="100%">
                    </div>
                <div id="centro">
                    <p id="total"><strong>Nombre</strong>: {{acquisition.name}}</p>
                    {% if acquisition.number_AASI %}
                        <p id="total">Número AASI.net: {{acquisition.number_AASI}}</p>
                    {% else %}
                        <p id="total">Número AASI.net: No Registrado</p>
                    {% endif %}
                    {% if acquisition.role_number %}
                        <p id="total">Número de Rol: {{acquisition.role_number}}</p>
                    {% else %}
                        <p id="total">Número de Rol: No Registrado</p>
                    {% endif %}
                    <p id="total">Dirección: {{acquisition.location}}</p>
                    <p id="total">Uso Propiedad: {{acquisition.property_use}}</p>
                </div>
                <col>
                <div id="derecha">
                </div>
            </div>
        </row>
        <row>
            <div id="cuerpo">
                <div>
                    <a id="cuerpo" href="#demo" class="btn btn-success" data-toggle="collapse"> Ver Más</a>
                    <row>
                        <div id="demo" class="collapse">
                            <br>
                            <div id="izquierda-izquierda">
                                <p id="total"><strong>Datos Notaria</strong></p>
                                {% if acquisition.notary %}
                                    <p id="total">Nombre Notaria: {{acquisition.notary}}</p>
                                {% else %}
                                    <p id="total">Nombre Notaria: No Registrado</p>
                                {% endif %}
                                {% if acquisition.writing %}
                                    <td><a href="{% url 'view_archive' acquisition.writing.pk %}">Escritura: {{acquisition.writing.archive}}</a></td>
                                {% else %}
                                    <p id="total">Escritura: No Registrado</p>
                                {% endif %}
                                {% if acquisition.writing_year %}
                                    <p id="total">Año Escritura: {{acquisition.writing_year}}</p>
                                {% else %}
                                    <p id="total">Año Escritura: No Registrado</p>
                                {% endif %}
                                {% if acquisition.sale_price %}
                                    <p id="total">Precio Venta: {{acquisition.sale_price}}</p>
                                {% else %}
                                    <p id="total">Precio Venta: No Registrado</p>
                                {% endif %}
                                {% if acquisition.current_title %}
                                    <p id="total">Título Actual: {{acquisition.current_title}}</p>
                                {% else %}
                                    <p id="total">Título Actual: No Registrado</p>
                                {% endif %}
                                {% if acquisition.previous_title %}
                                    <p id="total">Título Anterior: {{acquisition.previous_title}}</p>
                                {% else %}
                                    <p id="total">Título Anterior: No Registrado</p>
                                {% endif %}
                                {% if acquisition.domain_certificate %}
                                    <td><a href="{% url 'view_archive' acquisition.domain_certificate.pk %}">Certificado de dominio: {{acquisition.writing.archive}}</a></td>
                                {% else %}
                                    <p id="total">Certificado de dominio: No Registrado</p>
                                {% endif %}
                                {% if acquisition.prohibition %}
                                    <td><a href="{% url 'view_archive' acquisition.prohibitions.pk %}">Gravamen y Prohibiciones: {{acquisition.prohibitions.archive}}</a></td>
                                {% else %}
                                    <p id="total">Gravamen y Prohibiciones: No Registrado</p>
                                {% endif %}
                                {% if acquisition.expropiation_serviu %}
                                    <td><a href="{% url 'view_archive' acquisition.expropiation_serviu.pk %}">Certificado de no Expropiación: {{acquisition.expropiation_serviu}}</a></td>
                                {% else %}
                                    <p id="total">Certificado de no Expropiación: No Registrado</p>
                                {% endif %}
                            </div>
                            <div id="izquierda-izquierda">
                                <p id="total"><strong>Servicio Impuesto Interno</strong></p>
                                {% if acquisition.destiny %}
                                    <p id="total">Destino: {{acquisition.destiny}}</p>
                                {% else %}
                                    <p id="total">Destino: No Registrado</p>
                                {% endif %}
                                {% if acquisition.tax_appraisal %}
                                    <p id="total">Avalúo Fiscal: {{acquisition.tax_appraisal}}</p>
                                {% else %}
                                    <p id="total">Avalúo Fiscal: No Registrado</p>
                                {% endif %}
                                {% if acquisition.owner_name_SII %}
                                    <p id="total">Nombre Propietario SII: {{acquisition.owner_name_SII}}</p>
                                {% else %}
                                    <p id="total">Nombre Propietario SII: No Registrado</p>
                                {% endif %}
                                {% if acquisition.total_debt %}
                                    <p id="total">Deuda Total: {{acquisition.total_debt}}</p>
                                {% else %}
                                    <p id="total">Deuda Total: No Registrado</p>
                                {% endif %}
                                {% if acquisition.ex_contributions %}
                                    <p id="total">Exención de Contribuciones: {{acquisition.ex_contribuciones}}</p>
                                {% else %}
                                    <p id="total">Exención de Contribuciones: No Registrado</p>
                                {% endif %}
                                {% if acquisition.appraisal_certificate %}
                                    <td><a href="{% url 'view_archive' acquisition.appraisal_certificate.pk %}">Certificado de Avalúo: {{acquisition.appraisal_certificate.archive}}</a></td>
                                {% else %}
                                    <p id="total">Certificado de Avalúo: No Registrado</p>
                                {% endif %}
                                {% if acquisition.debt_certificate %}
                                    <td><a href="{% url 'view_archive' acquisition.debt_certificate.pk %}">Certificado de No Deuda: {{acquisition.debt_certificate.archive}}</a></td>
                                {% else %}
                                    <p id="total">Certificado de NO Deuda: No Registrado</p>
                                {% endif %}
                                <br>
                                <br>
                                <br>
                            </div>
                            <div id="derecha-derecha">
                                <p id="total"><strong>Antecedentes Arquitectonicos</strong></p>
                                {% if acquisition.ground_surface %}
                                    <p id="total">Superficie de Terreno: {{acquisition.ground_surface}}</p>
                                {% else %}
                                    <p id="total">Superficie de Terreno: No Registrado</p>
                                {% endif %}
                                {% if acquisition.square_m_build %}
                                    <p id="total">Metros Cuadrados Construidos: {{acquisition.square_m_build}}</p>
                                {% else %}
                                    <p id="total">Metros Cuadrados Construidos: No Registrado</p>
                                {% endif %}
                                {% if acquisition.e_construction_m %}
                                    <p id="total">Metros Construcción Existente: {{acquisition.e_construction_m}}</p>
                                {% else %}
                                    <p id="total">Metros COnstrucción Existente: No Registrado</p>
                                {% endif %}
                                {% if acquisition.ex_contributions %}
                                    <p id="total">Exención de Contribuciones: {{acquisition.ex_contribuciones}}</p>
                                {% else %}
                                    <p id="total">Exención de Contribuciones: No Registrado</p>
                                {% endif %}
                                {% if acquisition.municipal_n %}
                                    <p id="total">Número de recepción municipal: {{acquisition.municipal_n}}</p>
                                {% else %}
                                    <p id="total">Número de recepción municipal: No Registrado</p>
                                {% endif %}
                                {% if acquisition.n_building_permit %}
                                    <p id="total">Número de permiso de edificación: {{acquisition.n_building_permit}}</p>
                                {% else %}
                                    <p id="total">Número de permiso de edificación: No Registrado</p>
                                {% endif %}
                                {% if acquisition.expropiation_mun %}
                                    <td><a href="{% url 'view_archive' acquisition.expropiation_mun.pk %}">Número de NO Expropiación: {{acquisition.expropiation_mun.archive}}</a></td>
                                {% else %}
                                    <p id="total">Número de No Expropiación Municipal: No Registrado</p>
                                {% endif %}
                                {% if acquisition.cip %}
                                    <td><a href="{% url 'view_archive' acquisition.cip.pk %}">CIP: {{acquisition.cip.archive}}</a></td>
                                {% else %}
                                    <p id="total">CIP: No Registrado</p>
                                {% endif %}
                                {% if acquisition.certified_number %}
                                    <td><a href="{% url 'view_archive' acquisition.certified_number.pk %}">Número de Certificado: {{acquisition.certified_number.archive}}</a></td>
                                {% else %}
                                    <p id="total">Número de Certificado: No Registrado</p>
                                {% endif %}
                                {% if acquisition.blueprints %}
                                    <td><a href="{% url 'view_archive' acquisition.blueprints.pk %}">Planos: {{acquisition.blueprints.archive}}</a></td>
                                {% else %}
                                    <p id="total">Planos: No Registrado</p>
                                {% endif %}
                                {% if acquisition.building_permit %}
                                    <td><a href="{% url 'view_archive' acquisition.building_permit.pk %}">Permiso de Edificación: {{acquisition.building_permit.archive}}</a></td>
                                {% else %}
                                    <p id="total">Permiso de Edificación: No Registrado</p>
                                {% endif %}
                                {% if acquisition.municipal_reception %}
                                    <td><a href="{% url 'view_archive' acquisition.municipal_reception.pk %}">Recepción Municipal: {{acquisition.municipal_repection.archive}}</a></td>
                                {% else %}
                                    <p id="total">Recepción Municipal: No Registrado</p>
                                {% endif %}
                            </div>
                            <div id="derecha-derecha">
                                <p id="total"><strong>Antecedentes Contables Internos</strong></p>
                                {% if acquisition.value_land %}
                                    <p id="total">Valor Contabilizado Terreno: {{acquisition.value_land}}</p>
                                {% else %}
                                    <p id="total">Valor Contabilizado Terreno: No Registrado</p>
                                {% endif %}
                                {% if acquisition.value_contruction %}
                                    <p id="total">Valor Contabilizado Construcción: {{acquisition.value_contruction}}</p>
                                {% else %}
                                    <p id="total">Valor Contabilizado Construcción: No Registrado</p>
                                {% endif %}
                                {% if acquisition.acquiring_name %}
                                    <p id="total">Nombre Comprador: {{acquisition.acquiring_name}}</p>
                                {% else %}
                                    <p id="total">Nombre Comprador: No Registrado</p>
                                {% endif %}
                                {% if acquisition.supplier_name %}
                                    <p id="total">Nombre Vendedor: {{acquisition.supplier_name}}</p>
                                {% else %}
                                    <p id="total">Nombre Vendedor: No Registrado</p>
                                {% endif %}
                                <td><a href="{% url 'view_archive' acquisition.contract_type.pk %}">{{acquisition.contract_type.archive}}</a></td>
                                {% if acquisition.others %}
                                    <td><a href="{% url 'view_archive' acquisition.others.pk %}">Otros: {{acquisition.others.archive}}</a></td>
                                {% else %}
                                    <p id="total">Otros: No Registrado</p>
                                {% endif %}
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </row>
                    <row>
                        <div id="cuerpo">
                            <div id="demo" class="collapse">
                                <br>
                                <br>

                            </div>
                        </div>
                    </row>
                    </div>
                </div>
            </div>
        </row>
</div>
</body>
</html>
{% endblock %}