{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
{% block navbar %}
{% endblock %}
{% include "base.html" %}
{% block content %}
<html>
<head>
  <title>{% block title %} Propiedades {% endblock %}</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'propiedades.css'%}">
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
</head>
<body style="background-color:#FFFFFF  ">
<br>
    <row>
        <div id="cuerpo">
                <div id="izquierda">
                    <img src="/media/{{acquisition.image}}" alt="" width="100%" height="100%">
                </div>
            </col>
            <col>
            <div id="centro">
                <li id="total"><strong>Nombre</strong>: {{acquisition.name}}</li>
                <li id="total">Numero AASI: {{acquisition.number_AASI}}</li>
                <li id="total">Numero Rol: {{acquisition.role_number}}</li>
                <li id="total">Dirección: {{acquisition.location}}</li>
                <li id="total">Uso Propiedad: {{acquisition.property_use}}</li>
            </div>
            <col>
            <div id="derecha">
                <li id="total"><strong>Nombre</strong>: {{acquisition.name}}</li>
                <li id="total">Numero AASI: {{acquisition.number_AASI}}</li>
                <li id="total">Numero Rol: {{acquisition.role_number}}</li>
                <li id="total">Dirección: {{acquisition.location}}</li>
                <li id="total">Uso Propiedad: {{acquisition.property_use}}</li>
            </div>
        </div>
    </row>
    <row>
        <div id="cuerpo">
            <div id="centro">
                <a href="#demo" class="btn btn-success" data-toggle="collapse"> Ver Más</a>
                <div id="demo" class="collapse">
                    <br>
                    <li>Tipo de contrato2: {{acquisition.contract_type.archive}}</li>
                    <td><a href="{% url 'view_archive' acquisition.contract_type.pk %}" style="color:#FF0000;" >{{acquisition.contract_type.archive}}</a></td>
                    <li>Nombre comprador: {{acquisition.acquiring_name}}</li>
                    <li>Nombre vendedor/donador: {{acquisition.supplier_name}}</li>
                    <li>Notaria: {{acquisition.notary}}</li>
                    <li>Año de escritura: {{acquisition.writing_year}}</li>
                    <li>Precio de venta : {{acquisition.sale_price}}</li>
                    <li>Titulo previo: {{acquisition.previous_title}}</li>
                    <li>Titulo actual: {{acquisition.current_title}}</li>
                    <li>Destino: {{acquisition.destiny}}</li>
                    <li>Avalúo fiscal: {{acquisition.tax_appraisal}}</li>
                    <li>Nombre del propietario/a en SII: {{acquisition.owner_name_SII}}</li>
                    <li>Deuda total: {{acquisition.total_debt}}</li>
                    <li>Exención de contribuciones: {{acquisition.ex_contributions}}</li>
                    <li>Escritura: {{acquisition.writing}}</li>
                    <li>Certificado de dominio: {{acquisition.domain_certificate}}</li>
                    <li>Gravamenes y prohibiciones: {{acquisition.prohibitions}}</li>
                    <li>No expropiación SERVIU: {{acquisition.expropriation_serviu}}</li>
                    <li>Otros: {{acquisition.others}}</li>
                    <li>No expropiación municipal: {{acquisition.expropriation_mun}}</li>
                    <li>CIP: {{acquisition.cip.archive}}</li>
                    <li>Numero de certificado: {{acquisition.certified_number}}</li>
                    <li>Planos: {{acquisition.blueprints}}</li>
                    <li>Permiso de edificación: {{acquisition.building_permit}}</li>
                    <li>Recepción municipal: {{acquisition.municipal_reception}}</li>
                    <li>Certificado de avalúo: {{acquisition.appraisal_certificate}}</li>
                    <li>Certificado de NO deuda: {{acquisition.debt_certificate}}</li>
                    <li>Superficie del terreno: {{acquisition.ground_surface}}</li>
                    <li>Metros cuadrados contruidos: {{acquisition.square_m_build}}</li>
                    <li>Metros construcción existente: {{acquisition.e_construction_m}}</li>
                    <li>Número de recepción municipal: {{acquisition.municipal_n}}</li>
                    <li>Número de permiso de edificación: {{acquisition.n_building_permit}}</li>
                    <li>Valor contabilizado terreno: {{acquisition.value_land}}</li>
                    <li>Valor contabilizado contrucción: {{acquisition.value_construction}}</li>
                </div>

        </div>

        </div>
    </row>
</body>
</html>
{% endblock %}